.grid {
	display: flex;
	justify-content: center;
}

.form {
	display: flex;
	justify-content: center;
}


.ingredient-group {
	padding:15px;
}

#submit {
	width:100%;
	justify-content:center;
	text-align: center;
}